In [26]:
import pandas as pd
import numpy as np

--add FlightNumber column and drop column id

In [45]:
original_data = pd.read_csv("launch_sorted.csv")
original_data.insert(0, 'FlightNumber', range(1, len(original_data) + 1))
original_data = original_data.drop('id', axis=1)
original_data

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2006-03-24,Falcon 1,20.0,LEO,Kwajalein Atoll,None - None,1,False,False,False,NaN,NaN,0,Merlin1A,167.743129,9.047721
1,2,2007-03-21,Falcon 1,NaN,LEO,Kwajalein Atoll,None - None,1,False,False,False,NaN,NaN,0,Merlin2A,167.743129,9.047721
2,3,2008-08-03,Falcon 1,NaN,LEO,Kwajalein Atoll,None - None,1,False,False,False,NaN,NaN,0,Merlin1C,167.743129,9.047721
3,4,2008-09-28,Falcon 1,165.0,LEO,Kwajalein Atoll,None - None,1,False,False,False,NaN,NaN,0,Merlin2C,167.743129,9.047721
4,5,2009-07-13,Falcon 1,200.0,LEO,Kwajalein Atoll,None - None,1,False,False,False,NaN,NaN,0,Merlin3C,167.743129,9.047721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,180,2022-09-05,Falcon 9,13440.0,VLEO,CCSFS SLC 40,True - ASDS,7,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,6,B1052,-80.577366,28.561857
180,181,2022-09-11,Falcon 9,14760.0,VLEO,KSC LC 39A,True - ASDS,14,True,True,True,5e9e3033383ecb075134e7cd,5.0,13,B1058,-80.603956,28.608058
181,182,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,5,B1067,-80.577366,28.561857
182,183,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1072,-80.577366,28.561857
183,184,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True - ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058

In [46]:
original_data.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass       25
Orbit              1
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        36
Block              5
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

# Filter the dataframe to only include Falcon 9

--drop BoosterVersion = Falcon1

In [47]:
original_data.drop(original_data.index[original_data['BoosterVersion'] == 'Falcon 1'], inplace = True)
data_falcon9= original_data
data_falcon9

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
5,6,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
6,7,2010-12-08,Falcon 9,NaN,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0004,-80.577366,28.561857
7,8,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
8,9,2012-10-08,Falcon 9,800.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0006,-80.577366,28.561857
9,10,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,180,2022-09-05,Falcon 9,13440.0,VLEO,CCSFS SLC 40,True - ASDS,7,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,6,B1052,-80.577366,28.561857
180,181,2022-09-11,Falcon 9,14760.0,VLEO,KSC LC 39A,True - ASDS,14,True,True,True,5e9e3033383ecb075134e7cd,5.0,13,B1058,-80.603956,28.608058
181,182,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,5,B1067,-80.577366,28.561857
182,183,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1072,-80.577366,28.561857
183,184,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True - ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058

In [48]:
data_falcon9.loc[:,'FlightNumber'] = list(range(1, data_falcon9.shape[0]+1))
data_falcon9

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
5,1,2010-06-04,Falcon 9,NaN,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
6,2,2010-12-08,Falcon 9,NaN,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0004,-80.577366,28.561857
7,3,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
8,4,2012-10-08,Falcon 9,800.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0006,-80.577366,28.561857
9,5,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,175,2022-09-05,Falcon 9,13440.0,VLEO,CCSFS SLC 40,True - ASDS,7,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,6,B1052,-80.577366,28.561857
180,176,2022-09-11,Falcon 9,14760.0,VLEO,KSC LC 39A,True - ASDS,14,True,True,True,5e9e3033383ecb075134e7cd,5.0,13,B1058,-80.603956,28.608058
181,177,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,5,B1067,-80.577366,28.561857
182,178,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1072,-80.577366,28.561857
183,179,2022-10-05,Falcon 9,NaN,ISS,KSC LC 39A,True - ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058

In [49]:
data_falcon9.isnull().sum()

FlightNumber       0
Date               0
BoosterVersion     0
PayloadMass       23
Orbit              1
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        31
Block              0
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
dtype: int64

--drop null value in column Orbit

In [50]:
data_falcon9.dropna(subset=['Orbit'],inplace=True)

---Imputation the missing numerical value by the median of the
feature’s class-specific values

In [51]:
grouped = data_falcon9.groupby(['Orbit'])
class_specific_averages = grouped['PayloadMass'].transform('median')
data_falcon9['PayloadMass'] = data_falcon9['PayloadMass'].fillna(class_specific_averages)
data_falcon9

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
5,1,2010-06-04,Falcon 9,1316.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
6,2,2010-12-08,Falcon 9,1316.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0004,-80.577366,28.561857
7,3,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
8,4,2012-10-08,Falcon 9,800.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0006,-80.577366,28.561857
9,5,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None - None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,175,2022-09-05,Falcon 9,13440.0,VLEO,CCSFS SLC 40,True - ASDS,7,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,6,B1052,-80.577366,28.561857
180,176,2022-09-11,Falcon 9,14760.0,VLEO,KSC LC 39A,True - ASDS,14,True,True,True,5e9e3033383ecb075134e7cd,5.0,13,B1058,-80.603956,28.608058
181,177,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,5,B1067,-80.577366,28.561857
182,178,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1072,-80.577366,28.561857
183,179,2022-10-05,Falcon 9,2486.0,ISS,KSC LC 39A,True - ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5.0,0,B1077,-80.603956,28.608058

In [52]:
data_falcon9.dropna(subset=['PayloadMass'],inplace=True)

In [53]:
data_falcon9.drop(columns=['LandingPad'], inplace=True)

In [54]:
data_falcon9

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,Block,ReusedCount,Serial,Longitude,Latitude
5,1,2010-06-04,Falcon 9,1316.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0003,-80.577366,28.561857
6,2,2010-12-08,Falcon 9,1316.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0004,-80.577366,28.561857
7,3,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0005,-80.577366,28.561857
8,4,2012-10-08,Falcon 9,800.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0006,-80.577366,28.561857
9,5,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0007,-80.577366,28.561857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,175,2022-09-05,Falcon 9,13440.0,VLEO,CCSFS SLC 40,True - ASDS,7,True,True,True,5.0,6,B1052,-80.577366,28.561857
180,176,2022-09-11,Falcon 9,14760.0,VLEO,KSC LC 39A,True - ASDS,14,True,True,True,5.0,13,B1058,-80.603956,28.608058
181,177,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,6,True,True,True,5.0,5,B1067,-80.577366,28.561857
182,178,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,4,True,True,True,5.0,0,B1072,-80.577366,28.561857
183,179,2022-10-05,Falcon 9,2486.0,ISS,KSC LC 39A,True - ASDS,1,True,False,True,5.0,0,B1077,-80.603956,28.608058

In [55]:
data_falcon9.isnull().sum()

FlightNumber      0
Date              0
BoosterVersion    0
PayloadMass       0
Orbit             0
LaunchSite        0
Outcome           0
Flights           0
GridFins          0
Reused            0
Legs              0
Block             0
ReusedCount       0
Serial            0
Longitude         0
Latitude          0
dtype: int64

In [57]:
data_falcon9.Outcome.value_counts()

True - ASDS      114
None - None       23
True - RTLS       22
False - ASDS       8
True - Ocean       5
False - Ocean      2
None - ASDS        2
False - RTLS       1
Name: Outcome, dtype: int64

In [58]:
data_falcon9.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

In [59]:
landing_outcomes = data_falcon9.Outcome.value_counts()

In [60]:
# Define the set of bad outcomes
fail_outcomes = set(landing_outcomes.keys()[[1, 3, 5, 6, 7]])

# Create the 'Class' column using apply and lambda
data_falcon9['Class'] =data_falcon9['Outcome'].apply(lambda x: 0 if x in fail_outcomes else 1)

In [62]:
data_falcon9

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,Block,ReusedCount,Serial,Longitude,Latitude,Class
5,1,2010-06-04,Falcon 9,1316.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0003,-80.577366,28.561857,0
6,2,2010-12-08,Falcon 9,1316.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0004,-80.577366,28.561857,0
7,3,2012-05-22,Falcon 9,525.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0005,-80.577366,28.561857,0
8,4,2012-10-08,Falcon 9,800.0,LEO,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0006,-80.577366,28.561857,0
9,5,2013-03-01,Falcon 9,677.0,ISS,CCSFS SLC 40,None - None,1,False,False,False,1.0,0,B0007,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179,175,2022-09-05,Falcon 9,13440.0,VLEO,CCSFS SLC 40,True - ASDS,7,True,True,True,5.0,6,B1052,-80.577366,28.561857,1
180,176,2022-09-11,Falcon 9,14760.0,VLEO,KSC LC 39A,True - ASDS,14,True,True,True,5.0,13,B1058,-80.603956,28.608058,1
181,177,2022-09-17,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,6,True,True,True,5.0,5,B1067,-80.577366,28.561857,1
182,178,2022-09-24,Falcon 9,13260.0,VLEO,CCSFS SLC 40,True - ASDS,4,True,True,True,5.0,0,B1072,-80.577366,28.561857,1
183,179,2022-10-05,Falcon 9,2486.0,ISS,KSC LC 39A,True - ASDS,1,True,False,True,5.0,0,B1077,-80.603956,28.608058,1

In [63]:
data_falcon9.to_csv("data_Falcon9.csv", index=False)