In [3]:
import requests
import pandas as pd
import json

In [4]:
launches_url = "https://api.spacexdata.com/v4/launches"

In [5]:
response_1 = requests.get(launches_url)
launch_data = response_1.json()

In [6]:
target_key = "cores"
dataframes = []
for launch in launch_data:
    if target_key in launch:
        cores_data = launch[target_key]
        for core in cores_data:
            core['id'] = launch['id'] # Adding the 'id' field from the launch to each core
            core['rocket'] = launch['rocket']
            core['launchpad'] = launch['launchpad']
            core['payloads'] = launch['payloads']
            core['Date'] = pd.to_datetime(launch['date_utc'].split('T')[0])  # Extract year, month and day and convert to time type
        df = pd.json_normalize(cores_data)
        dataframes.append(df)

In [7]:
if dataframes:
    launch_cores = pd.concat(dataframes, ignore_index=True)
    print(launch_cores)

                         core flight gridfins   legs reused landing_attempt  \
0    5e9e289df35918033d3b2623      1    False  False  False           False
1    5e9e289ef35918416a3b2624      1    False  False  False           False
2    5e9e289ef3591814873b2625      1    False  False  False           False
3    5e9e289ef3591855dc3b2626      1    False  False  False           False
4    5e9e289ef359184f103b2627      1    False  False  False           False
..                        ...    ...      ...    ...    ...             ...
210                      None   None     None   None   None            None
211                      None   None     True   True  False            None
212                      None   None     True   True  False            None
213                      None   None     True   True  False            None
214                      None   None     None   None   None            None

    landing_success landing_type landpad                        id  \
0              None         None    None  5eb87cd9ffd86e000604b32a
1              None         None    None  5eb87cdaffd86e000604b32b
2              None         None    None  5eb87cdbffd86e000604b32c
3              None         None    None  5eb87cdbffd86e000604b32d
4              None         None    None  5eb87cdcffd86e000604b32e
..              ...          ...     ...                       ...
210            None         None    None  6243ae58af52800c6e91925a
211            None         None    None  633f72130531f07b4fdf59c3
212            None         None    None  633f72130531f07b4fdf59c3
213            None         None    None  633f72130531f07b4fdf59c3
214            None         None    None  6243ae7daf52800c6e91925b

                       rocket                 launchpad  \
0    5e9d0d95eda69955f709d1eb  5e9e4502f5090995de566f86
1    5e9d0d95eda69955f709d1eb  5e9e4502f5090995de566f86
2    5e9d0d95eda69955f709d1eb  5e9e4502f5090995de566f86
3    5e9d0d95eda69955f709d1eb  5e9e4502f5090995de566f86
4    5e9d0d95eda69955f709d1eb  5e9e4502f5090995de566f86
..                        ...                       ...
210  5e9d0d95eda69973a809d1ec  5e9e4501f509094ba4566f84
211  5e9d0d95eda69974db09d1ed  5e9e4502f509094188566f88
212  5e9d0d95eda69974db09d1ed  5e9e4502f509094188566f88
213  5e9d0d95eda69974db09d1ed  5e9e4502f509094188566f88
214  5e9d0d95eda69973a809d1ec  5e9e4501f509094ba4566f84

                                              payloads       Date
0                           [5eb0e4b5b6c3bb0006eeb1e1] 2006-03-24
1                           [5eb0e4b6b6c3bb0006eeb1e2] 2007-03-21
2    [5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e... 2008-08-03
3                           [5eb0e4b7b6c3bb0006eeb1e5] 2008-09-28
4                           [5eb0e4b7b6c3bb0006eeb1e6] 2009-07-13
..                                                 ...        ...
210                         [6243b896af52800c6e91926e] 2022-12-01
211                                                 [] 2022-12-01
212                                                 [] 2022-12-01
213                                                 [] 2022-12-01
214                         [6243b788af52800c6e91926b] 2022-12-01

[215 rows x 14 columns]

In [8]:
launches_cores  = launch_cores.loc[:, ["Date","core","flight","gridfins","reused","legs","landing_success","landing_type","landpad","id","rocket","launchpad","payloads"]]
column_mapping = {
    'flight': 'Flights',
    'gridfins': 'GridFins',
    'reused': 'Reused',
    'legs': 'Legs',
    'landpad':'LandingPad'
}
# Rename the columns using the rename method
launches_cores.rename(columns=column_mapping, inplace=True)

In [9]:
# Combine 'landing_success' and 'landing_type' into a new column 'Outcome'
launches_cores['Outcome'] = launches_cores['landing_success'].astype(str) + ' - ' + launches_cores['landing_type'].astype(str)

# Move the 'Outcome' column to the first position
columns = ['Outcome'] + [col for col in launches_cores.columns if col != 'Outcome']
launches_cores = launches_cores[columns]
# Drop the 'landing_success' and 'landing_type' columns
launches_cores.drop(['landing_success', 'landing_type'], axis=1, inplace=True)
print(launches_cores)

         Outcome       Date                      core Flights GridFins Reused  \
0    None - None 2006-03-24  5e9e289df35918033d3b2623       1    False  False
1    None - None 2007-03-21  5e9e289ef35918416a3b2624       1    False  False
2    None - None 2008-08-03  5e9e289ef3591814873b2625       1    False  False
3    None - None 2008-09-28  5e9e289ef3591855dc3b2626       1    False  False
4    None - None 2009-07-13  5e9e289ef359184f103b2627       1    False  False
..           ...        ...                       ...     ...      ...    ...
210  None - None 2022-12-01                      None    None     None   None
211  None - None 2022-12-01                      None    None     True  False
212  None - None 2022-12-01                      None    None     True  False
213  None - None 2022-12-01                      None    None     True  False
214  None - None 2022-12-01                      None    None     None   None

      Legs LandingPad                        id                    rocket  \
0    False       None  5eb87cd9ffd86e000604b32a  5e9d0d95eda69955f709d1eb
1    False       None  5eb87cdaffd86e000604b32b  5e9d0d95eda69955f709d1eb
2    False       None  5eb87cdbffd86e000604b32c  5e9d0d95eda69955f709d1eb
3    False       None  5eb87cdbffd86e000604b32d  5e9d0d95eda69955f709d1eb
4    False       None  5eb87cdcffd86e000604b32e  5e9d0d95eda69955f709d1eb
..     ...        ...                       ...                       ...
210   None       None  6243ae58af52800c6e91925a  5e9d0d95eda69973a809d1ec
211   True       None  633f72130531f07b4fdf59c3  5e9d0d95eda69974db09d1ed
212   True       None  633f72130531f07b4fdf59c3  5e9d0d95eda69974db09d1ed
213   True       None  633f72130531f07b4fdf59c3  5e9d0d95eda69974db09d1ed
214   None       None  6243ae7daf52800c6e91925b  5e9d0d95eda69973a809d1ec

                    launchpad  \
0    5e9e4502f5090995de566f86
1    5e9e4502f5090995de566f86
2    5e9e4502f5090995de566f86
3    5e9e4502f5090995de566f86
4    5e9e4502f5090995de566f86
..                        ...
210  5e9e4501f509094ba4566f84
211  5e9e4502f509094188566f88
212  5e9e4502f509094188566f88
213  5e9e4502f509094188566f88
214  5e9e4501f509094ba4566f84

                                              payloads
0                           [5eb0e4b5b6c3bb0006eeb1e1]
1                           [5eb0e4b6b6c3bb0006eeb1e2]
2    [5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...
3                           [5eb0e4b7b6c3bb0006eeb1e5]
4                           [5eb0e4b7b6c3bb0006eeb1e6]
..                                                 ...
210                         [6243b896af52800c6e91926e]
211                                                 []
212                                                 []
213                                                 []
214                         [6243b788af52800c6e91926b]

[215 rows x 12 columns]

In [10]:
payloads_url = "https://api.spacexdata.com/v4/payloads"
response_2 = requests.get(payloads_url)
payloads_data = response_2.json()
df_payloads = pd.read_json(json.dumps(payloads_data))
payloads = df_payloads.loc[:, ["mass_kg","orbit","id"]]
column_mapping = {
    'mass_kg': 'PayloadMass',
    'orbit': 'Orbit'
}
# Rename the columns using the rename method
payloads.rename(columns=column_mapping, inplace=True)
print(payloads.to_string())

     PayloadMass  Orbit                        id
0          20.00    LEO  5eb0e4b5b6c3bb0006eeb1e1
1            NaN    LEO  5eb0e4b6b6c3bb0006eeb1e2
2            NaN    LEO  5eb0e4b6b6c3bb0006eeb1e3
3            NaN    LEO  5eb0e4b6b6c3bb0006eeb1e4
4         165.00    LEO  5eb0e4b7b6c3bb0006eeb1e5
5         200.00    LEO  5eb0e4b7b6c3bb0006eeb1e6
6            NaN    LEO  5eb0e4b7b6c3bb0006eeb1e7
7            NaN    LEO  5eb0e4b9b6c3bb0006eeb1e8
8            NaN    LEO  5eb0e4b9b6c3bb0006eeb1e9
9         525.00    LEO  5eb0e4bab6c3bb0006eeb1ea
10        400.00    ISS  5eb0e4bab6c3bb0006eeb1eb
11        400.00    LEO  5eb0e4bab6c3bb0006eeb1ec
12        677.00    ISS  5eb0e4bbb6c3bb0006eeb1ed
13        500.00     PO  5eb0e4bbb6c3bb0006eeb1ee
14       3170.00    GTO  5eb0e4bbb6c3bb0006eeb1ef
15       3325.00    GTO  5eb0e4bbb6c3bb0006eeb1f0
16       2296.00    ISS  5eb0e4bbb6c3bb0006eeb1f1
17       1316.00    LEO  5eb0e4bcb6c3bb0006eeb1f2
18       4535.00    GTO  5eb0e4bcb6c3bb0006eeb1f3
19       4428.00    GTO  5eb0e4bcb6c3bb0006eeb1f4
20       2216.00    ISS  5eb0e4bcb6c3bb0006eeb1f5
21       2395.00    ISS  5eb0e4bdb6c3bb0006eeb1f6
22        570.00  ES-L1  5eb0e4bdb6c3bb0006eeb1f7
23       1954.00    GTO  5eb0e4bdb6c3bb0006eeb1f8
24       2205.00    GTO  5eb0e4bdb6c3bb0006eeb1f9
25       1898.00    ISS  5eb0e4bdb6c3bb0006eeb1fa
26       4707.00    GTO  5eb0e4beb6c3bb0006eeb1fb
27       2477.00    ISS  5eb0e4beb6c3bb0006eeb1fc
28       2034.00    LEO  5eb0e4beb6c3bb0006eeb1fd
29        553.00     PO  5eb0e4beb6c3bb0006eeb1fe
30       5271.00    GTO  5eb0e4beb6c3bb0006eeb1ff
31       3136.00    ISS  5eb0e4bfb6c3bb0006eeb200
32       4696.00    GTO  5eb0e4bfb6c3bb0006eeb201
33       3100.00    GTO  5eb0e4bfb6c3bb0006eeb202
34       1800.00    GTO  5eb0e4bfb6c3bb0006eeb203
35       1800.00    GTO  5eb0e4bfb6c3bb0006eeb204
36       2257.00    ISS  5eb0e4c0b6c3bb0006eeb205
37       4600.00    GTO  5eb0e4c1b6c3bb0006eeb206
38       5500.00    GTO  5eb0e4c1b6c3bb0006eeb207
39       9600.00     PO  5eb0e4c2b6c3bb0006eeb208
40       2490.00    ISS  5eb0e4c3b6c3bb0006eeb209
41       5600.00    GTO  5eb0e4c3b6c3bb0006eeb20a
42       5300.00    GTO  5eb0e4c3b6c3bb0006eeb20b
43           NaN    LEO  5eb0e4c3b6c3bb0006eeb20c
44       6070.00    GTO  5eb0e4c3b6c3bb0006eeb20d
45       2708.00    ISS  5eb0e4c4b6c3bb0006eeb20e
46       3669.00    GTO  5eb0e4c4b6c3bb0006eeb20f
47       9600.00     PO  5eb0e4c4b6c3bb0006eeb210
48       6761.00    GTO  5eb0e4c4b6c3bb0006eeb211
49       2910.00    ISS  5eb0e4c4b6c3bb0006eeb212
50        475.00    SSO  5eb0e4c4b6c3bb0006eeb213
51       4990.00    LEO  5eb0e4c5b6c3bb0006eeb214
52       9600.00     PO  5eb0e4c5b6c3bb0006eeb215
53       5200.00    GTO  5eb0e4c5b6c3bb0006eeb216
54       3700.00    GTO  5eb0e4c5b6c3bb0006eeb217
55       2205.00    ISS  5eb0e4c5b6c3bb0006eeb218
56       9600.00     PO  5eb0e4c6b6c3bb0006eeb219
57           NaN    LEO  5eb0e4c6b6c3bb0006eeb21a
58       4230.00    GTO  5eb0e4c6b6c3bb0006eeb21b
59       1350.00    HCO  5eb0e4c6b6c3bb0006eeb21c
60       1350.00    SSO  5eb0e4c6b6c3bb0006eeb21d
61        800.00    SSO  5eb0e4c6b6c3bb0006eeb21e
62       6092.00    GTO  5eb0e4c7b6c3bb0006eeb21f
63       9600.00     PO  5eb0e4c7b6c3bb0006eeb220
64       2760.00    ISS  5eb0e4c7b6c3bb0006eeb221
65        350.00    HEO  5eb0e4c7b6c3bb0006eeb222
66       3750.00    GTO  5eb0e4c7b6c3bb0006eeb223
67       4300.00     PO  5eb0e4c7b6c3bb0006eeb224
68       1160.00     PO  5eb0e4c8b6c3bb0006eeb225
69       5383.85    GTO  5eb0e4c8b6c3bb0006eeb226
70       2410.00    ISS  5eb0e4c8b6c3bb0006eeb227
71       7076.00    GTO  5eb0e4c8b6c3bb0006eeb228
72       9600.00     PO  5eb0e4c9b6c3bb0006eeb229
73       5800.00    GTO  5eb0e4c9b6c3bb0006eeb22a
74       7060.00    GTO  5eb0e4c9b6c3bb0006eeb22b
75       2800.00    SSO  5eb0e4c9b6c3bb0006eeb22c
76       3000.00    GTO  5eb0e4c9b6c3bb0006eeb22d
77       4000.00    SSO  5eb0e4c9b6c3bb0006eeb22e
78       2573.00    ISS  5eb0e4cab6c3bb0006eeb22f
79       4400.00    MEO  5eb0e4cab6c3bb0006eeb230
80       9600.00     PO  5eb0e4cab6c3bb0006eeb231
81       5000.00    GTO  5eb0e4cab6c3bb0006eeb232
82         60.00    GTO  5eb0e4cab6c3bb0006eeb233
83        585.00    GTO  5eb0e4cab6c3bb0006eeb234
84      12259.00    ISS  5eb0e4cbb6c3bb0006eeb235
85       6000.00    GTO  5eb0e4cbb6c3bb0006eeb236
86       2482.00    ISS  5eb0e4cbb6c3bb0006eeb237
87      13200.00   VLEO  5eb0e4cbb6c3bb0006eeb238
88       1425.00    SSO  5eb0e4ccb6c3bb0006eeb239
89        600.00    MEO  5eb0e4ccb6c3bb0006eeb23a
90       1668.00    LEO  5eb0e4ccb6c3bb0006eeb23b
91        180.00    LEO  5eb0e4ccb6c3bb0006eeb23c
92         70.00    LEO  5eb0e4ccb6c3bb0006eeb23d
93        138.00    LEO  5eb0e4ccb6c3bb0006eeb23e
94         86.00    LEO  5eb0e4cdb6c3bb0006eeb23f
95         71.00    LEO  5eb0e4cdb6c3bb0006eeb240
96          5.00    LEO  5eb0e4cdb6c3bb0006eeb241
97          4.00    LEO  5eb0e4cdb6c3bb0006eeb242
98          5.00    LEO  5eb0e4cdb6c3bb0006eeb243
99          4.00    LEO  5eb0e4cdb6c3bb0006eeb244
100         2.00    LEO  5eb0e4cdb6c3bb0006eeb245
101         1.00    LEO  5eb0e4ceb6c3bb0006eeb246
102         1.50    LEO  5eb0e4ceb6c3bb0006eeb247
103         1.50    LEO  5eb0e4ceb6c3bb0006eeb248
104         1.00    LEO  5eb0e4ceb6c3bb0006eeb249
105      2227.70    ISS  5eb0e4ceb6c3bb0006eeb24a
106      6500.00    GTO  5eb0e4cfb6c3bb0006eeb24b
107     15600.00   VLEO  5eb0e4cfb6c3bb0006eeb24c
108      5000.00    ISS  5eb0e4cfb6c3bb0006eeb24d
109      6800.00    GTO  5eb0e4cfb6c3bb0006eeb24e
110     15600.00   VLEO  5eb0e4cfb6c3bb0006eeb24f
111          NaN     SO  5eb0e4d0b6c3bb0006eeb250
112     15600.00   VLEO  5eb0e4d0b6c3bb0006eeb251
113     15600.00   VLEO  5eb0e4d0b6c3bb0006eeb252
114      1977.00    ISS  5eb0e4d0b6c3bb0006eeb253
115     15600.00   VLEO  5eb0e4d0b6c3bb0006eeb254
116     15600.00   VLEO  5eb0e4d1b6c3bb0006eeb255
117     15600.00   VLEO  5eb0e4d1b6c3bb0006eeb256
118      9525.00    ISS  5eb0e4d1b6c3bb0006eeb257
119     15600.00   VLEO  5eb0e4d1b6c3bb0006eeb258
120      1600.00    SSO  5eb0e4d1b6c3bb0006eeb259
121          NaN    GEO  5eb0e4d2b6c3bb0006eeb25b
122      3880.00    MEO  5eb0e4d2b6c3bb0006eeb25c
123      7000.00    GTO  5eb0e4d2b6c3bb0006eeb25d
124      3681.00    MEO  5eb0e4d2b6c3bb0006eeb25e
125          NaN    ISS  5eb0e4d2b6c3bb0006eeb25f
126      3681.00    MEO  5eb0e4d2b6c3bb0006eeb261
127      2972.00    ISS  5eb0e4d3b6c3bb0006eeb262
128      3500.00    GTO  5eb0e4d3b6c3bb0006eeb264
129     15600.00   VLEO  5ed9858b1f30554030d45c3e
130     15600.00   VLEO  5ed9859f1f30554030d45c3f
131      1440.00     PO  5ed9867c1f30554030d45c40
132       112.00    SSO  5ee522e32f1f3d474c758123
133     15600.00   VLEO  5ef6a4600059c33cee4a829e
134     15600.00   VLEO  5ef6a48e0059c33cee4a829f
135     15600.00   VLEO  5ef6a4d50059c33cee4a82a1
136     15600.00   VLEO  5ef6a4ea0059c33cee4a82a2
137          NaN   None  5f839ac7818d8b59f5740d48
138     15600.00   VLEO  5fb95c263a88ae63c9546044
139     15600.00   VLEO  5fbfedba54ceb10a5664c813
140     15600.00   VLEO  5fbfedc654ceb10a5664c814
141          NaN    SSO  5fd3871a7faea57d297c86c6
142      2200.00    SSO  5fe3b2abb3467846b3242172
143          NaN    ISS  5fe3b3adb3467846b3242173
144     12519.00    ISS  5fe3b3bab3467846b3242174
145      7000.00    GTO  5fe3b57db3467846b324217a
146      3328.00    ISS  5fe3b642b3467846b324217b
147      3700.00    GTO  5fe3b86eb3467846b324217c
148      3500.00    GTO  5fe3c080b3467846b3242190
149       670.00    TLI  5fe3c4a6b3467846b3242192
150          NaN    ISS  5fe3c4f2b3467846b3242193
151     15600.00   VLEO  5ff655769257f579ee3a6c64
152     15600.00   VLEO  600f9bc08f798e2a4d5f97a4
153     15600.00   VLEO  600f9bcb8f798e2a4d5f97a5
154     15600.00   VLEO  600f9bd88f798e2a4d5f97a6
155     15600.00   VLEO  60428afbc041c16716f73cdd
156     15600.00   VLEO  60428b02c041c16716f73cde
157     15600.00   VLEO  605b4be3aa5433645e37d046
158     15600.00   VLEO  605b4befaa5433645e37d047
159     13520.00   VLEO  605b4bfcaa5433645e37d048
160     15600.00   VLEO  6079bd5e9a06446e8c61bf7c
161     15600.00   VLEO  6079bd679a06446e8c61bf7d
162          NaN    LEO  607a382f5a906a44023e0867
163          NaN    SSO  608ac397eb3e50044e3630e7
164       112.00    LEO  609f48374a12e4692eae4667
165          NaN    LEO  609f49c64a12e4692eae4668
166     15600.00     PO  60e3bf3373359e1e20335c3c
167     13260.00     PO  6161d0af6db1a92bfba85352
168     13260.00     PO  6161d0f26db1a92bfba85355
169          NaN    ISS  6161d22a6db1a92bfba85357
170      2240.00    SSO  6161d3a06db1a92bfba8535a
171          NaN    LEO  6175aaacefa4314085aa9c56
172     13260.00    LEO  618fabf0563d69573ed8caa6
173     13260.00     PO  61bbac16437241381bf70632
174       330.00    LEO  61c1f395a4a2462678cbf46e
175     13260.00   VLEO  61d5ece4f88e4c5fc91f1ebb
176     13260.00   VLEO  61e05516be8d8b66799018d4
177     13260.00   VLEO  61e05520be8d8b66799018d5
178      1908.00    TLI  61eef9b89eb1064137a1bd72
179          NaN    ISS  61eefb129eb1064137a1bd74
180     13260.00   VLEO  61fc02e1e0dc5662b76489b4
181     13260.00   VLEO  61fc0334e0dc5662b76489b5
182     13260.00   VLEO  61fc0379e0dc5662b76489b6
183     13260.00   VLEO  61fc0382e0dc5662b76489b7
184     13260.00   VLEO  623491e5f051102e1fcedac9
185          NaN    SSO  6243af62af52800c6e919260
186     13260.00   VLEO  6243af9faf52800c6e919261
187          NaN    LEO  6243b036af52800c6e919262
188          NaN    ISS  6243b1cdaf52800c6e919265
189      3938.00    GEO  6243b286af52800c6e919266
190          NaN    SSO  6243b39daf52800c6e919267
191      5100.00    MEO  6243b788af52800c6e91926b
192          NaN    ISS  6243b835af52800c6e91926d
193          NaN    SSO  6243b896af52800c6e91926e
194      3500.00    MEO  6243b93caf52800c6e91926f
195      5100.00    MEO  6243ba4faf52800c6e919271
196     13260.00   VLEO  625829cf5988f159024b9648
197     13260.00   VLEO  625829d75988f159024b9649
198     13260.00   VLEO  62582aa55988f159024b964d
199     13260.00   VLEO  62582aad5988f159024b964e
200     13260.00   VLEO  62615ee40ec008379be596fd
201     13260.00   VLEO  6278484e57b51b752c5c5a63
202      2608.00    BEO  628026a42c0aa958437dcf7c
203        72.00    BEO  628027062c0aa958437dcf7d
204       700.00    LEO  62adecbcd26f4f711fa53848
205          NaN    ISS  62dd73ed202306255024d145
206     13260.00   VLEO  630bccc6d36448026ab01639
207     13260.00   VLEO  630bccd6d36448026ab0163a
208     13260.00   VLEO  630bce10d36448026ab0163b
209     13260.00   VLEO  630bce49d36448026ab0163c
210     13260.00   VLEO  630bce79d36448026ab0163d
211     13260.00   VLEO  630bcea1d36448026ab0163e
212     13260.00   VLEO  630bceadd36448026ab0163f
213     13260.00   VLEO  630bceb8d36448026ab01640
214       678.00    TLI  630bcfe1d36448026ab01641
215     13260.00   VLEO  630f63bf18702d4844fb5391
216     13260.00   VLEO  631614d7ffc78f3b85670716
217     13260.00   VLEO  631614e9ffc78f3b85670717
218     13260.00   VLEO  63161610ffc78f3b85670718
219     13260.00   VLEO  63161699ffc78f3b85670719
220     13260.00   VLEO  631616a7ffc78f3b8567071a
221     13260.00   VLEO  631616aeffc78f3b8567071b
222          NaN     PO  63161760ffc78f3b8567071c
223       180.00   VLEO  631617fbffc78f3b8567071d
224      1500.00   VLEO  63161872ffc78f3b8567071e

In [11]:
rockets_url = "https://api.spacexdata.com/v4/rockets"
response_3 = requests.get(rockets_url)
rockets_data = response_3.json()
df_rockets = pd.read_json(json.dumps(rockets_data))
rockets = df_rockets.loc[:, ["name","id"]]
column_mapping = {
    'name': 'BoosterVersion'
}
# Rename the columns using the rename method
rockets.rename(columns=column_mapping, inplace=True)
rockets

  BoosterVersion                        id
0       Falcon 1  5e9d0d95eda69955f709d1eb
1       Falcon 9  5e9d0d95eda69973a809d1ec
2   Falcon Heavy  5e9d0d95eda69974db09d1ed
3       Starship  5e9d0d96eda699382d09d1ee

In [12]:
cores_url = "https://api.spacexdata.com/v4/cores"
response_4 = requests.get(cores_url)
cores_data = response_4.json()
df_cores = pd.read_json(json.dumps(cores_data))
cores = df_cores.loc[:, ["block", "reuse_count","serial","id"]]
column_mapping = {
    'block': 'Block',
    'reuse_count': 'ReusedCount',
    'serial': 'Serial'
}
# Rename the columns using the rename method
cores.rename(columns=column_mapping, inplace=True)
cores

    Block  ReusedCount    Serial                        id
0     NaN            0  Merlin1A  5e9e289df35918033d3b2623
1     NaN            0  Merlin2A  5e9e289ef35918416a3b2624
2     NaN            0  Merlin1C  5e9e289ef3591814873b2625
3     NaN            0  Merlin2C  5e9e289ef3591855dc3b2626
4     NaN            0  Merlin3C  5e9e289ef359184f103b2627
..    ...          ...       ...                       ...
78    5.0            2     B1073  627843db57b51b752c5c5a54
79    5.0            0     B1074  627843de57b51b752c5c5a55
80    5.0            0     B1075  627843e257b51b752c5c5a56
81    5.0            0     B1076  633d9da235a71d1d9c66797a
82    5.0            0     B1077  633d9da635a71d1d9c66797b

[83 rows x 4 columns]

In [13]:
launchpads_url = "https://api.spacexdata.com/v4/launchpads"
response_5 = requests.get(launchpads_url)
launchpads_data = response_5.json()
df_launchpads= pd.read_json(json.dumps(launchpads_data))
launchpads = df_launchpads.loc[:, ["name","longitude","latitude","id"]]
column_mapping = {
    'name': 'LaunchSite',
    'latitude': 'Latitude',
    'longitude': 'Longitude'
}
# Rename the columns using the rename method
launchpads.rename(columns=column_mapping, inplace=True)
launchpads

        LaunchSite   Longitude   Latitude                        id
0      VAFB SLC 3W -120.593144  34.644090  5e9e4501f5090910d4566f83
1     CCSFS SLC 40  -80.577366  28.561857  5e9e4501f509094ba4566f84
2             STLS  -97.156085  25.997264  5e9e4502f5090927f8566f85
3  Kwajalein Atoll  167.743129   9.047721  5e9e4502f5090995de566f86
4      VAFB SLC 4E -120.610829  34.632093  5e9e4502f509092b78566f87
5       KSC LC 39A  -80.603956  28.608058  5e9e4502f509094188566f88

In [14]:
# Merge two DataFrames based on id and rocket columns
merged_df = pd.merge(launches_cores, rockets, left_on="rocket", right_on="id", how="inner")
# Remove redundant id columns
merged_df.drop(columns=["id_y"], inplace=True)
merged_df.rename(columns={"id_x": "id"}, inplace=True)
merged_df

,Outcome,Date,core,Flights,GridFins,Reused,Legs,LandingPad,id,rocket,launchpad,payloads,BoosterVersion
0,None - None,2006-03-24,5e9e289df35918033d3b2623,1,False,False,False,None,5eb87cd9ffd86e000604b32a,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b5b6c3bb0006eeb1e1],Falcon 1
1,None - None,2007-03-21,5e9e289ef35918416a3b2624,1,False,False,False,None,5eb87cdaffd86e000604b32b,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b6b6c3bb0006eeb1e2],Falcon 1
2,None - None,2008-08-03,5e9e289ef3591814873b2625,1,False,False,False,None,5eb87cdbffd86e000604b32c,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,"[5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...",Falcon 1
3,None - None,2008-09-28,5e9e289ef3591855dc3b2626,1,False,False,False,None,5eb87cdbffd86e000604b32d,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b7b6c3bb0006eeb1e5],Falcon 1
4,None - None,2009-07-13,5e9e289ef359184f103b2627,1,False,False,False,None,5eb87cdcffd86e000604b32e,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b7b6c3bb0006eeb1e6],Falcon 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,None - None,2022-11-01,5fe3b8fbb3467846b3242182,1,True,False,True,None,6243aec2af52800c6e91925d,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[5fe3b86eb3467846b324217c],Falcon Heavy
211,None - None,2022-11-01,5fe3b906b3467846b3242183,1,True,False,True,None,6243aec2af52800c6e91925d,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[5fe3b86eb3467846b324217c],Falcon Heavy
212,None - None,2022-12-01,None,None,True,False,True,None,633f72130531f07b4fdf59c3,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[],Falcon Heavy
213,None - None,2022-12-01,None,None,True,False,True,None,633f72130531f07b4fdf59c3,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[],Falcon Heavy
214,None - None,2022-12-01,None,None,True,False,True,None,633f72130531f07b4fdf59c3,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[],Falcon Heavy

In [15]:
merged_df_1 = pd.merge(merged_df, launchpads, left_on="launchpad", right_on="id", how="inner")
merged_df_1.drop(columns=["id_y"], inplace=True)
merged_df_1.rename(columns={"id_x": "id"}, inplace=True)
merged_df_1

,Outcome,Date,core,Flights,GridFins,Reused,Legs,LandingPad,id,rocket,launchpad,payloads,BoosterVersion,LaunchSite,Longitude,Latitude
0,None - None,2006-03-24,5e9e289df35918033d3b2623,1,False,False,False,None,5eb87cd9ffd86e000604b32a,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b5b6c3bb0006eeb1e1],Falcon 1,Kwajalein Atoll,167.743129,9.047721
1,None - None,2007-03-21,5e9e289ef35918416a3b2624,1,False,False,False,None,5eb87cdaffd86e000604b32b,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b6b6c3bb0006eeb1e2],Falcon 1,Kwajalein Atoll,167.743129,9.047721
2,None - None,2008-08-03,5e9e289ef3591814873b2625,1,False,False,False,None,5eb87cdbffd86e000604b32c,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,"[5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...",Falcon 1,Kwajalein Atoll,167.743129,9.047721
3,None - None,2008-09-28,5e9e289ef3591855dc3b2626,1,False,False,False,None,5eb87cdbffd86e000604b32d,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b7b6c3bb0006eeb1e5],Falcon 1,Kwajalein Atoll,167.743129,9.047721
4,None - None,2009-07-13,5e9e289ef359184f103b2627,1,False,False,False,None,5eb87cdcffd86e000604b32e,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b7b6c3bb0006eeb1e6],Falcon 1,Kwajalein Atoll,167.743129,9.047721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,None - None,2022-11-01,5fe3b8fbb3467846b3242182,1,True,False,True,None,6243aec2af52800c6e91925d,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[5fe3b86eb3467846b324217c],Falcon Heavy,KSC LC 39A,-80.603956,28.608058
211,None - None,2022-11-01,5fe3b906b3467846b3242183,1,True,False,True,None,6243aec2af52800c6e91925d,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[5fe3b86eb3467846b324217c],Falcon Heavy,KSC LC 39A,-80.603956,28.608058
212,None - None,2022-12-01,None,None,True,False,True,None,633f72130531f07b4fdf59c3,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[],Falcon Heavy,KSC LC 39A,-80.603956,28.608058
213,None - None,2022-12-01,None,None,True,False,True,None,633f72130531f07b4fdf59c3,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[],Falcon Heavy,KSC LC 39A,-80.603956,28.608058
214,None - None,2022-12-01,None,None,True,False,True,None,633f72130531f07b4fdf59c3,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[],Falcon Heavy,KSC LC 39A,-80.603956,28.608058

In [16]:
merged_df_2 = pd.merge(merged_df_1, cores, left_on="core", right_on="id", how="inner")
merged_df_2.drop(columns=["id_y"], inplace=True)
merged_df_2.rename(columns={"id_x": "id"}, inplace=True)
merged_df_2

,Outcome,Date,core,Flights,GridFins,Reused,Legs,LandingPad,id,rocket,launchpad,payloads,BoosterVersion,LaunchSite,Longitude,Latitude,Block,ReusedCount,Serial
0,None - None,2006-03-24,5e9e289df35918033d3b2623,1,False,False,False,None,5eb87cd9ffd86e000604b32a,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b5b6c3bb0006eeb1e1],Falcon 1,Kwajalein Atoll,167.743129,9.047721,NaN,0,Merlin1A
1,None - None,2007-03-21,5e9e289ef35918416a3b2624,1,False,False,False,None,5eb87cdaffd86e000604b32b,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b6b6c3bb0006eeb1e2],Falcon 1,Kwajalein Atoll,167.743129,9.047721,NaN,0,Merlin2A
2,None - None,2008-08-03,5e9e289ef3591814873b2625,1,False,False,False,None,5eb87cdbffd86e000604b32c,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,"[5eb0e4b6b6c3bb0006eeb1e3, 5eb0e4b6b6c3bb0006e...",Falcon 1,Kwajalein Atoll,167.743129,9.047721,NaN,0,Merlin1C
3,None - None,2008-09-28,5e9e289ef3591855dc3b2626,1,False,False,False,None,5eb87cdbffd86e000604b32d,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b7b6c3bb0006eeb1e5],Falcon 1,Kwajalein Atoll,167.743129,9.047721,NaN,0,Merlin2C
4,None - None,2009-07-13,5e9e289ef359184f103b2627,1,False,False,False,None,5eb87cdcffd86e000604b32e,5e9d0d95eda69955f709d1eb,5e9e4502f5090995de566f86,[5eb0e4b7b6c3bb0006eeb1e6],Falcon 1,Kwajalein Atoll,167.743129,9.047721,NaN,0,Merlin3C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,True - RTLS,2019-06-25,5e9e28a6f359188fd53b265e,2,True,True,True,5e9e3032383ecb90a834e7c8,5eb87d35ffd86e000604b37a,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,"[5eb0e4ccb6c3bb0006eeb23a, 5eb0e4ccb6c3bb0006e...",Falcon Heavy,KSC LC 39A,-80.603956,28.608058,5.0,1,B1053
192,False - ASDS,2019-06-25,5e9e28a7f3591878063b2661,1,True,False,True,5e9e3032383ecb6bb234e7ca,5eb87d35ffd86e000604b37a,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,"[5eb0e4ccb6c3bb0006eeb23a, 5eb0e4ccb6c3bb0006e...",Falcon Heavy,KSC LC 39A,-80.603956,28.608058,5.0,0,B1057
193,None - None,2022-11-01,5fe3b8f2b3467846b3242181,1,True,False,True,None,6243aec2af52800c6e91925d,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[5fe3b86eb3467846b324217c],Falcon Heavy,KSC LC 39A,-80.603956,28.608058,5.0,0,B1064
194,None - None,2022-11-01,5fe3b8fbb3467846b3242182,1,True,False,True,None,6243aec2af52800c6e91925d,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[5fe3b86eb3467846b324217c],Falcon Heavy,KSC LC 39A,-80.603956,28.608058,5.0,0,B1065
195,None - None,2022-11-01,5fe3b906b3467846b3242183,1,True,False,True,None,6243aec2af52800c6e91925d,5e9d0d95eda69974db09d1ed,5e9e4502f509094188566f88,[5fe3b86eb3467846b324217c],Falcon Heavy,KSC LC 39A,-80.603956,28.608058,5.0,0,B1066

In [17]:
import numpy as np

merged_df_2['PayloadMass'] = 0
merged_df_2['Orbit'] = np.nan

orbit_dict = {'VLEO':1, 'ISS':2, 'SSO':3, 'PO':4, 'LEO': 5, 'MEO':6, 'GTO':7}
# print(payloads['Orbit'].unique())

s = set()

def check_orbit(pre, aft):
    if not isinstance(pre, str):
        if np.isnan(pre):
            return aft
    if not isinstance(aft, str):
        if np.isnan(aft):
            return pre
    
    if orbit_dict[pre] < orbit_dict[aft]:
        return aft
    else:
        return pre

for index, row in merged_df_2.iterrows():
    pls = row['payloads']
    if len(pls) == 0:
        merged_df_2.at[index, 'PayloadMass'] = np.nan
#         print('no payload found')
        continue
        
    elif len(pls) == 1:
        cur_pl = payloads[payloads['id']==pls[0]].iloc[0]
        merged_df_2.at[index, 'Orbit'] = cur_pl['Orbit']
        merged_df_2.at[index, 'PayloadMass'] = cur_pl['PayloadMass']
        continue
        
    total = 0
    for pl in pls:
        cur_pl = payloads[payloads['id']==pl].iloc[0]
        orbit = cur_pl['Orbit']
        s.add(orbit)
        #update orbit
        merged_df_2.at[index, 'Orbit'] = check_orbit(merged_df_2.at[index, 'Orbit'], orbit)
        
        #update payload
        if not np.isnan(cur_pl['PayloadMass']):
            total += cur_pl['PayloadMass']
    
    if total < 0.001:
        merged_df_2.at[index, 'PayloadMass'] = np.nan
    else:
        merged_df_2.at[index, 'PayloadMass'] = total

In [18]:
new_order=['Date','BoosterVersion','PayloadMass','Orbit','LaunchSite','Outcome','Flights','GridFins','Reused','Legs','LandingPad','Block','ReusedCount','Serial','Longitude','Latitude','id']

In [19]:
chang_data = merged_df_2[new_order]
launch_sorted = chang_data.sort_values(by='Date', ascending=True)
launch_sorted.drop(launch_sorted[launch_sorted['BoosterVersion'] == 'Falcon Heavy'].index, inplace=True)
launch_sorted.dropna(subset=['Date'], inplace=True)

In [20]:
print(launch_sorted)

          Date BoosterVersion  PayloadMass Orbit       LaunchSite  \
0   2006-03-24       Falcon 1         20.0   LEO  Kwajalein Atoll
1   2007-03-21       Falcon 1          NaN   LEO  Kwajalein Atoll
2   2008-08-03       Falcon 1          NaN   LEO  Kwajalein Atoll
3   2008-09-28       Falcon 1        165.0   LEO  Kwajalein Atoll
4   2009-07-13       Falcon 1        200.0   LEO  Kwajalein Atoll
..         ...            ...          ...   ...              ...
157 2022-09-05       Falcon 9      13440.0  VLEO     CCSFS SLC 40
121 2022-09-11       Falcon 9      14760.0  VLEO       KSC LC 39A
149 2022-09-17       Falcon 9      13260.0  VLEO     CCSFS SLC 40
164 2022-09-24       Falcon 9      13260.0  VLEO     CCSFS SLC 40
187 2022-10-05       Falcon 9          NaN   ISS       KSC LC 39A

         Outcome Flights GridFins Reused   Legs                LandingPad  \
0    None - None       1    False  False  False                      None
1    None - None       1    False  False  False                      None
2    None - None       1    False  False  False                      None
3    None - None       1    False  False  False                      None
4    None - None       1    False  False  False                      None
..           ...     ...      ...    ...    ...                       ...
157  True - ASDS       7     True   True   True  5e9e3033383ecbb9e534e7cc
121  True - ASDS      14     True   True   True  5e9e3033383ecb075134e7cd
149  True - ASDS       6     True   True   True  5e9e3033383ecbb9e534e7cc
164  True - ASDS       4     True   True   True  5e9e3033383ecbb9e534e7cc
187  True - ASDS       1     True  False   True  5e9e3033383ecbb9e534e7cc

     Block  ReusedCount    Serial   Longitude   Latitude  \
0      NaN            0  Merlin1A  167.743129   9.047721
1      NaN            0  Merlin2A  167.743129   9.047721
2      NaN            0  Merlin1C  167.743129   9.047721
3      NaN            0  Merlin2C  167.743129   9.047721
4      NaN            0  Merlin3C  167.743129   9.047721
..     ...          ...       ...         ...        ...
157    5.0            6     B1052  -80.577366  28.561857
121    5.0           13     B1058  -80.603956  28.608058
149    5.0            5     B1067  -80.577366  28.561857
164    5.0            0     B1072  -80.577366  28.561857
187    5.0            0     B1077  -80.603956  28.608058

                           id
0    5eb87cd9ffd86e000604b32a
1    5eb87cdaffd86e000604b32b
2    5eb87cdbffd86e000604b32c
3    5eb87cdbffd86e000604b32d
4    5eb87cdcffd86e000604b32e
..                        ...
157  62f3b5330f55c50e192a4e6e
121  62a9f89a20413d2695d8871a
149  63161329ffc78f3b8567070b
164  63161339ffc78f3b8567070c
187  62dd70d5202306255024d139

[184 rows x 17 columns]

In [21]:
launch_sorted.isnull().sum()

Date               0
BoosterVersion     0
PayloadMass       25
Orbit              1
LaunchSite         0
Outcome            0
Flights            0
GridFins           0
Reused             0
Legs               0
LandingPad        36
Block              5
ReusedCount        0
Serial             0
Longitude          0
Latitude           0
id                 0
dtype: int64

In [22]:
launch_sorted.dtypes

Date              datetime64[ns]
BoosterVersion            object
PayloadMass              float64
Orbit                     object
LaunchSite                object
Outcome                   object
Flights                   object
GridFins                  object
Reused                    object
Legs                      object
LandingPad                object
Block                    float64
ReusedCount                int64
Serial                    object
Longitude                float64
Latitude                 float64
id                        object
dtype: object

In [45]:
launch_sorted.to_csv("launch_sorted.csv", index=False)